<div class="prose prose-xl">
  <h1>Lorem ipsum dolor sit, amet consectetur</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus
    voluptatem dolor accusantium? Iste, aliquam et nihil rem ullam, ab officiis
    quos modi quas ducimus dicta assumenda. Eligendi, optio eius. In ea quis
    voluptatem alias pariatur tempore quos dolorum vero asperiores sapiente
    fugiat rem, odit optio facilis, error necessitatibus? Laboriosam qui
    repellat soluta fugit totam? Nihil optio libero fuga placeat?
  </p>
  <h1>Lorem ipsum dolor sit, amet consectetur</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus
    voluptatem dolor accusantium? Iste, aliquam et nihil rem ullam, ab officiis
    quos modi quas ducimus dicta assumenda. Eligendi, optio eius. In ea quis
    voluptatem alias pariatur tempore quos dolorum vero asperiores sapiente
    fugiat rem, odit optio facilis, error necessitatibus? Laboriosam qui
    repellat soluta fugit totam? Nihil optio libero fuga placeat?
  </p>
  <h1>Lorem ipsum dolor sit, amet consectetur</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus
    voluptatem dolor accusantium? Iste, aliquam et nihil rem ullam, ab officiis
    quos modi quas ducimus dicta assumenda. Eligendi, optio eius. In ea quis
    voluptatem alias pariatur tempore quos dolorum vero asperiores sapiente
    fugiat rem, odit optio facilis, error necessitatibus? Laboriosam qui
    repellat soluta fugit totam? Nihil optio libero fuga placeat?
  </p>
  <h1>Lorem ipsum dolor sit, amet consectetur</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus
    voluptatem dolor accusantium? Iste, aliquam et nihil rem ullam, ab officiis
    quos modi quas ducimus dicta assumenda. Eligendi, optio eius. In ea quis
    voluptatem alias pariatur tempore quos dolorum vero asperiores sapiente
    fugiat rem, odit optio facilis, error necessitatibus? Laboriosam qui
    repellat soluta fugit totam? Nihil optio libero fuga placeat?
  </p>
  <h1>Lorem ipsum dolor sit, amet consectetur</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus
    voluptatem dolor accusantium? Iste, aliquam et nihil rem ullam, ab officiis
    quos modi quas ducimus dicta assumenda. Eligendi, optio eius. In ea quis
    voluptatem alias pariatur tempore quos dolorum vero asperiores sapiente
    fugiat rem, odit optio facilis, error necessitatibus? Laboriosam qui
    repellat soluta fugit totam? Nihil optio libero fuga placeat?
  </p>
</div>
