---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="dark:bg-[#161618]">
    <Header />
    <main>
      <slot />
    </main>
    <div>
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    @apply h-full;
  }

  body {
    @apply flex flex-col text-[#374151] dark:text-white max-w-5xl mx-auto;
  }

  main {
    @apply flex-1 mx-auto;
  }

  div {
    @apply mt-24;
  }
</style>
